################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TradingSystemWeb/v16/.suo
/.vs/TradingSystemWeb/FileContentIndex/d8dcdd73-e049-4c6c-8d50-3871167f9fea.vsidx
