################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TradingSystemWeb/v16/.suo
/.vs/TradingSystemWeb/FileContentIndex/d8dcdd73-e049-4c6c-8d50-3871167f9fea.vsidx
/TradingSystemWeb/Temp/API
/TradingSystemWeb/Temp/APIResponse
/.vs/TradingSystemWeb/FileContentIndex/d12b1c12-f812-46b1-9d7f-602ca6e8b2a3.vsidx
/.vs/TradingSystemWeb/v17/.suo
/Lib/bin/Release/Lib.dll
/Lib/bin/Release/Lib.pdb
/Lib/obj/Release/Lib.dll
/Lib/obj/Release/Lib.pdb
/TradingSystemWeb/bin/TradingSystemWeb.dll
/TradingSystemWeb/bin/TradingSystemWeb.pdb
/TradingSystemWeb/obj/Release/Package/PackageTmp/bin/TradingSystemWeb.dll
/TradingSystemWeb/obj/Release/Package/PackageTmp/bin/TradingSystemWeb.pdb
/TradingSystemWeb/obj/Release/TradingSystemWeb.dll
/TradingSystemWeb/obj/Release/TradingSystemWeb.pdb
/TradingSystemWeb/Properties/PublishProfiles/FolderProfile.pubxml.user
