<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="21.3.0" targetFramework="net452" />
  <package id="bootstrap" version="4.6.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="EPPlus" version="5.6.1" targetFramework="net452" />
  <package id="jQuery" version="3.0.0" targetFramework="net452" />
  <package id="MessageBoxer" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="popper.js" version="1.16.1" targetFramework="net452" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" />
</packages>