body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {margin-bottom: 0px;}table thead {background-color: lightblue;}
                             .dataTables_scrollBody::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #0d4b48;
    }

    .dataTables_scrollBody::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
        border-radius: 5px;
    }

    .dataTables_scrollBody::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #428bca; /*background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(16 109 105)),color-stop(0.72, rgb(41 185 171)),color-stop(0.86, rgb(12 125 121)));*/
    }

    .ui-corner-tr {
        display: none;
    }

    .dataTables_scrollHeadInner, div.DTFC_LeftWrapper table.dataTable thead th, .table thead th {
        background-color: #428bca;
        color: white !important;
    }

    body {
        overflow-y: hidden;
    }

    table.dataTable tbody tr td {
        text-align: center;
        padding: 1px;
        white-space: nowrap;
        font-size: 12px;
    }
    
    table.dataTable thead th {
        *background: #e6e6e6 none repeat scroll 0 0;
        border-left: 1px solid #e6e6e6;
        white-space: nowrap !important;
        padding: 2px 15px;
        vertical-align: middle;
       
    }

   
    
    .ui-widget-header {
        background: #ffffff !important;
    } 
    
    table.dataTable.no-footer {
        border: none;
    }
    /*table.dataTable thead th, table.dataTable thead td {padding: 4px 2px;}*/
    th, td {
        text-align: center;
    }